/* * {
  box-sizing: border-box;
} */

body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: calc(1.5vw + 1.5vh);
  display: grid;
  align-items: center;
  justify-items: center;
  /* mobile first - single column */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "logo"
    "score"
    "board"
    "player-moves"
    "game-msg"
    "restart-button";
}

main {
  display: flex;
  font-size: clamp(30px, 5vw, 35px);
  justify-content: center;
  margin-top: 10px;
  grid-area: logo;
}

em {
  font-size: 50%;
}

score-ctr {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3vw;
  height: 50%;
  font-size: clamp(15px, 3vw, 20px);
  padding: clamp(5px, 3vh, 8px);
  grid-area: score;
}

red-score {
  color: #d62839;
}

blue-score {
  color: #669bbc;
}

red-score,
blue-score {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  gap: 1vw;
  padding: clamp(5px, 3vh, 12px);
  border: outset 1px #cbd1dd;
}

#board {
  max-width: 90vw;
  max-height: 65vh;
  /* Limit the height to 80% of the viewport height */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: calc(min(1.5vw, 1.5vh));
  /* Adjusts gap based on the smaller dimension */
  margin: 0 auto;
  padding: calc(min(1.5vw, 1.5vh));
  /* Padding around the board to maintain aspect ratio */

  background-color: #0f1a20;
  border-color: #12191d;
  border-style: outset solid solid solid;
  border-width: 2px;
  /* margin: 0 50px 0 50px; */
  border-radius: 1%;
  grid-area: board;
  /* box-sizing: border-box; */
}

.space {
  width: calc(
    min(90vw / 7, 65vh / 6) - calc(min(1.5vw, 1.5vh) * 6 / 7)
  ); /* Adjust based on width, height, and gap */
  height: calc(min(90vw / 7, 60vh / 6) - calc(min(1.5vw, 1.5vh) * 6 / 7));
  text-align: center;
  background-color: aliceblue;
  border-radius: 50%;
  transition: background-color 200ms;
  /* box-sizing: border-box; */
}

.space:hover {
  background-color: #353439;
}

#game-info {
  grid-area: gi;
}

#description {
  background-color: #f3fbfb;
  grid-area: ds;
}

#game-info,
#description {
  display: none;
  flex-wrap: wrap;
  border: solid 1px #cbd1dd;
  padding: 1em;
  transition: border 1000ms;
}

text {
  font-style: italic;
  font-size: 0.75em;
}

#player-moves-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  grid-area: player-moves;
}

#red-move,
#blue-move {
  background-color: #f3fbfb;
  border: solid 1px #cbd1dd;
  text-align: center;
  align-content: center;
  font-size: clamp(16px, 2vw, 20px);
  padding: clamp(3px, 2vh, 15px);
  margin-top: clamp(5px, 3vh, 12px);
  transition: background-color 500ms;
  transition: border 1000ms;
}

#game-msg {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: clamp(10px, 3vw, 15px);
  width: clamp(100px, 50vw, 500px);
  padding: clamp(3px, 2vh, 15px);
  margin-top: clamp(5px, 3vh, 12px);
  border: solid 1px #cbd1dd;
  transition: border 1000ms;
  grid-area: game-msg;
}

#game-info:hover,
#description:hover,
#red-move:hover,
#game-msg:hover,
#blue-move:hover,
#restart-button:hover,
red-score:hover,
blue-score:hover {
  border: 1px solid black;
}

#button-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(3px, 2vh, 15px);
  margin-top: clamp(3px, 3vh, 5px);
  grid-area: restart-button;
}

#restart-button {
  font-size: clamp(10px, 3vw, 15px);
  padding: clamp(3px, 2vh, 15px);
  font-family: Montserrat, Helvetica, sans-serif;
  transition: border 1800ms;
  background-color: #0491aa;
  border: none;
  color: aliceblue;
}
