body {
  margin: 0 auto;
  font-family: Montserrat, Helvetica, sans-serif;
}

main {
  font-size: 250%;
  display: flex;
  justify-content: center;
  margin: 20px 0px 0px 0px;
}
#grid-ctr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 125px);
  grid-template-areas:
    ". . bd . ."
    ". gi bd ds ."
    ". gi bd ds ."
    ". . bd . ."
    ". . bd . .";
}

#board {
  background-color: #0f1a20;
  border-color: #12191d;
  border-width: 2px;
  border-style: outset solid solid solid;
  height: 615px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px 0 50px;
  border-radius: 1%;
  grid-area: bd;
}

.space {
  height: 90px;
  width: 90px;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 70%;
  transition: background-color 200ms;
}

.space:hover {
  background-color: #353439;
}

#gameinfo {
  grid-area: gi;
}

#description {
  background-color: #f3fbfb;
  grid-area: ds;
}

#gameinfo,
#description {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #cbd1dd;
  padding: 1em;
  transition: border 1000ms;
}

em {
  font-size: 50%;
}

text {
  font-style: italic;
  font-size: 0.75em;
}

score-ctr {
  display: flex;
  justify-content: space-evenly;
  font-size: 140%;
}

red-score {
  color: #d62839;
}

blue-score {
  color: #669bbc;
}

red-score,
blue-score {
  display: flex;
  width: 150px;
  gap: 40px;
  border: outset 1px #cbd1dd;
  padding: 10px;
}

#features-ctr {
  margin: 1px;
  display: flex;
  justify-content: space-evenly;
}

#redMove,
#blueMove {
  background-color: #f3fbfb;
  border: solid 1px #cbd1dd;
  width: 350px;
  height: 15px;
  text-align: center;
  align-content: center;
  padding: 20px;
  transition: background-color 500ms;
  transition: border 1000ms;
}

#gameMsg {
  border: solid 1px #cbd1dd;
  width: 350px;
  height: 90px;
  text-align: center;
  align-content: center;
  transition: border 1000ms;
}

#gameinfo:hover,
#description:hover,
#redMove:hover,
#gameMsg:hover,
#blueMove:hover,
#restartButton:hover,
red-score:hover,
blue-score:hover {
  border: 1px solid black;
}

#button-ctr {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#restartButton {
  background-color: #0491aa;
  border: none;
  color: aliceblue;
  padding: 12px 24px;
  font-size: 16px;
  font-family: Montserrat, Helvetica, sans-serif;
  transition: border 1800ms;
}
