body {
  margin: 0 auto;
  font-family: Montserrat, Helvetica, sans-serif;
}

main {
  font-size: 250%;
  display: flex;
  justify-content: center;
  margin: 20px 0px 0px 0px;
}

#grid-ctr {
}

#board {
  display: flex;
  justify-content: center;
  align-content: center;
  height: fit-content;
  width: fit-content;
  background-color: #0f1a20;
  border-color: #12191d;
  border-style: outset solid solid solid;
  border-width: 2px;
  /* margin: 0 50px 0 50px; */
  border-radius: 1%;
}

.space {
  height: 7vw;
  width: 7vw;
  text-align: center;
  color: purple;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 70%;
  transition: background-color 200ms;
}

.space:hover {
  background-color: #353439;
}

#game-info {
  grid-area: gi;
}

#description {
  background-color: #f3fbfb;
  grid-area: ds;
}

#game-info,
#description {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #cbd1dd;
  padding: 1em;
  transition: border 1000ms;
}

em {
  font-size: 50%;
}

text {
  font-style: italic;
  font-size: 0.75em;
}

score-ctr {
  display: flex;
  justify-content: space-evenly;
  font-size: 140%;
}

red-score {
  color: #d62839;
}

blue-score {
  color: #669bbc;
}

red-score,
blue-score {
  display: flex;
  width: 150px;
  gap: 40px;
  border: outset 1px #cbd1dd;
  padding: 10px;
}

#features-ctr {
  margin: 1px;
  display: flex;
  justify-content: space-evenly;
}

#red-move,
#blue-move {
  background-color: #f3fbfb;
  border: solid 1px #cbd1dd;
  width: 350px;
  height: 15px;
  text-align: center;
  align-content: center;
  padding: 20px;
  transition: background-color 500ms;
  transition: border 1000ms;
}

#game-msg {
  border: solid 1px #cbd1dd;
  width: 350px;
  height: 90px;
  text-align: center;
  align-content: center;
  transition: border 1000ms;
}

#game-info:hover,
#description:hover,
#red-move:hover,
#game-msg:hover,
#blue-move:hover,
#restart-button:hover,
red-score:hover,
blue-score:hover {
  border: 1px solid black;
}

#button-ctr {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#restart-button {
  background-color: #0491aa;
  border: none;
  color: aliceblue;
  padding: 12px 24px;
  font-size: 16px;
  font-family: Montserrat, Helvetica, sans-serif;
  transition: border 1800ms;
}
